<h1><%=@word.name%></h1>
<% if @definitions.any? %>
  <ul>
    <% @definitions.each do |definition| %>
    <br>
    <li><a href="/words/<%= @word.id %>/<%= definition.id %>"><%= definition.name %></a></li>
  </ul>
<% end %>
<% end %>

<form action='/words/<%=@word.id%>' method='post'>
  <div class='form-group'>
    <input id='d' name='definition_name' class='form-control' type='text' placeholder='Tell us what you think it means!'>
    <button type='submit' class='btn-danger'> Submit</button>
  </div>
</form>  

<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">DELETE ALL DEFINITIONS</button>
</form>
<p> (for this word only.  cannot be undone!)</p>



<button type="btn" class="btn-success"><a href="/words">Home Page</a></button></a>